<div class="tought-form-container">
    <a href="/toughts/dashboard">Voltar</a>
    <h1>Editando um Pensamento:</h1>
    <form action="/toughts/edit" method="post">
        <div class="form-control">
            <input type="hidden" name="id" value="{{tought.id}}">
            <label for="title">Título:</label>
            <input type="text" name="title" id="title-create" placeholder="Digite um pensamento" value="{{tought.title}}">
        </div>
        <input type="submit" value="Editar Pensamento">
    </form>
</div>