* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #222;
    color: #fff;
}


/* NAVBAR */

#logo img {
    height: 40px;
}

#navbar {
    padding: 1.2em 2.4em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1em;
    background-color: #222;
    color: #fff;
    border-bottom: 1px solid #f6982d;
}

#navbar ul {
    list-style: none;
    display: flex;
}

#navbar ul li {
    margin-left: 1em;
}

#navbar ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    transition: .5s;
}

#navbar ul li a:hover {
    cursor: pointer;
    color: #f6982d;
}


/* CONTAINER */

.container {
    height: 60vh;
    padding: 2em;
}


/* MESSAGE */

.message {
    padding: 1em;
    color: #004085;
    background-color: #ccc;
    border: 1px solid #b8daff;
    border-radius: 5px;
    text-align: center;
    margin: 0 auto 2em;
    max-width: 60%;
}


/* LOGIN E REGISTER*/

.auth-container {
    max-width: 450px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.auth-container h2 {
    border-left: 4px solid #f6982d;
    margin-bottom: 1em;
    padding: 0.3em;
    color: #fff;
    width: 100px;
}

.auth-container a {
    color: #f6982d;
}

.form-control {
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
}

.form-control label {
    color: #fff;
    font-weight: bold;
    margin-bottom: .5em;
}

.form-control input,
.form-control textarea {
    border: 1px solid #f6982d;
    border-radius: 3px;
    padding: 7px;
}


/* .paleta-ghost-pepper {
    color: #e35f21;
    color: #eef8f7;
    color: #363636;
    color: #010506
} */

form input[type='submit'],
.btn {
    background-color: transparent;
    border: 2px solid #f6982d;
    padding: .5em 1.3em;
    border-radius: 5px;
    text-decoration: none;
    transition: .5s;
    margin-bottom: 1em;
    color: #f6982d;
    font-size: 1em;
    font-weight: bold;
    cursor: pointer;
}

form input[type='submit']:hover,
.btn:hover {
    background-color: #f6982d;
    color: #fff;
}


/* FOOTER */

footer {
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    background-color: #222;
    border-top: 1px solid #f6982d;
}

footer span {
    color: #f6982d;
    font-weight: bold;
}